@inherits LayoutComponentBase

<PageTitle>HTM</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/grofab95/HomeTemperatureMonitor" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
            <RadzenDialog />
        </article>
    </main>
</div>